body {
    background-color: rgb(31, 31, 31);
}

#navbackgrnd{
    background-image: url("../images/image-6.jpg");    
    background-repeat: no-repeat;
    background-size: 120%;
    width: 100%;
    padding-bottom: 600px;
    position: absolute;
    z-index: -1;
    filter: blur(0.6px);
}

#act-tab {
    background-image: url("../images/image-6.jpg");
    background-repeat: no-repeat;
    background-size: 700%;
    background-position: center;
    transition: 0.5s;
    text-align: center;
    font-size: 20px;
}

#tit1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border: 2px solid white;
    box-shadow: 2px 2px rgb(255, 255, 255);
    padding: 30px;
}

#act-tab:hover {
    background-size: 1700%;
    font-size: 23px;
}