* {
    margin: 0;
    padding: 0;
}

#title {
    position: absolute;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    color: white;
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#nav-icon {
    width: 70px;
    cursor: pointer;
    margin: -10px;
}

nav {
    background-color: #0a0a0aee;   
    overflow: auto;
    text-align: center;
}

.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .drop-button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
}

.drop-button {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.drop-button:hover {
    background-color: #000000cd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111111e3;    
    text-align: center;
}

.dropdown-content a:hover{
    background-color: #000000cd;  
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 30px, 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    transition: 0.6s;
}

.show {
    display: block;
}

/* * {
    margin: 0;
    padding: 0;
}

#title {
    position: absolute;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    color: white;
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#nav-icon {
    width: 70px;
    cursor: pointer;
    margin: -10px;
}

nav {
    background-image: url("../images/image-1.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    overflow: auto;
    text-align: center;
}

.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .drop-button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
}

.drop-button {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111111;    
    text-align: center;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.show {
    display: block;
} */